@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
    list-style: none;
}
:root{
    --main-color: #008148;
    --second-color:#1e3932;
}
section{
    padding: 50px 10px;
}
*::selection{
    color:#fff ;
    background: var(--main-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #fff;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s ease;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 27px;
    font-family: Verdana;
    font-weight: 600;
    transition: 0.4s ease;
    animation:  animate 3s linear infinite ;
}
.logo:hover{
    color: orangered;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    25%{
        transform: translate(11px, 0);
    }
    50%{
        transform: (-0, -11px);
    }
    100%{
        transform: (-11px, 0);
    }

}
.navbar{
    display:flex;
}
.navbar a{
    font-size:1rem ;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-height:100vh; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
    padding-top: 80px;

}
.home-text{
    flex: 1 1 17rem ;
}
.home-img{
    flex: 1 1 17rem;
    max-width: 100%;
    height: aut0;
    position:relative;
    display: block;
    z-index: 0;
}
.home-img img{
    animation: animate 3s linear infinite;
    max-width: 100%;
    height: aut0;
    position: relative;
    scroll-behavior: smooth;
    display: block;
    z-index: 0;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: (-0, -11px);
    }
    100%{
        transform: (-11px, 0);
    }
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home- h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    margin: 0.5rem 0 1.4rem;
    text-transform: uppercase;
}
.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: white;
    background: var(--second-color);
}
.heading{
    text-align: center;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);   
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.about-container .box{
    flex: 1 1 10rem ;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.about-container.box .box-img{
    width:150px ;
    height: 150px;
    margin-top: -100px;
} 
.box-img img{
    height: 150px ;
    width: 150px;
    object-fit: contain;
    object-position: center;
    border-radius: 13px;
}
.box .btn{
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}
.box .btn:hover{
    background: #ebdbc8;
    color: var(--second-color);
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.ceo-img{
    flex:1 1 21rem ;
}
.ceo-img img{
    height: 350px;
    width: 90%;
    padding: 20px;
    border-radius: 40px;
    margin-left: 70px;
}
.about-ceo{
    flex:1 1 21rem ;
    margin-right: 30px;
}
.about-ceo h2{
    font-size: 1.2rem;
    color: var(--second-color);
    margin-right: 30px;
}
.about-ceo p{
    margin: 0.5rem;
    text-align: justify;
    margin-right: 30px;
}
.form{
    align-items: center;
    border: var(--main-color) solid 2px;
    background: var(--main-color);
    text-align: center;
    border-radius: 20px;
    margin: 0 30% 0 30%;
}
.form p{
    font-size: 30px;
    font-family: Tahoma;
    font-family: 600;
    padding: 10px ;
}
.form input{
    border: var(--main-color) solid 1px;
    border-radius: 8px;
    font-size: 25px;
    padding: 9px;
}
.btn-end{
    padding: 9px;
    border-radius: 8px;
    background: #008148;
    font-family: Verdana;
    font-size: 26px;
    border: solid 2px var(--main-color);
    color: #ebdbc8;
}
.btn-end:hover{
    color: var(--main-color);
    background: #ebdbc8;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a img{
    padding: 5px;
    color:#fff;
    background: whitesmoke;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.social a img:hover{
    background: var(--main-color);

}
.footer-links{
    margin: 1rem 0 1rem;
}
.footer-links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.footer-links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
@media  (max-width: 1150px){
    header{
        padding:18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem ;
    }
}
@media  (max-width: 990px){
    header{
        padding:18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .form input{
        width: 100%;
        border-width: 100%;
        font-size: 20px;
}
}
@media  (max-width: 768px){
    header{
        padding:11px 4%;
    }
    .form input{
        width: 100%;
        border-width: 100%;
        font-size: 20px;
    }
    header .navbar {
        position: static;
        flex-direction: row;
        top: auto;
        background: none;
    }
}
@media  (max-width: 568px){
    header{
        padding:9px 3%;
    }
    body{
        max-width: 568px;
    }
    .form input{
        width: 100%;
        border-width: 100%;
        font-size: 16px;
    }
    .home{
        padding-top: 70px;
    }
    .home-img{
        height: auto;
        max-width: 90%;
    }
}
    @media  (max-width: 320px){
        header{
            padding:auto;
            width: auto;
        }
        body{
            max-width: auto;
            width: auto;
        }
        .form input{
            width: 100%;
            border-width: 100%;
            font-size: auto;
        }
        .home-img{
            height: auto;
            width: auto;
        }
    }
@media (max-width:100px ){
    header{
        width: auto;
        padding: auto;
    }
    body{
        width: auto;
        padding: auto;
    }
    .form{
        width: 100%;
        padding: auto;
    }
    .home-img{
        height: auto;
        width: auto;
    }
}
#menu-icon{
    display:initial ;
}
#menu-icon .bx-x img{
    transform:rotate(45deg);
}
header  .navbar{
    position: absolute;
    top: -400%;
    left: 0;
    right:0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: top 0.3s ease;
    text-align: left; 
}
header .active{
    top: 100%;
}
/*.navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 25px;
    top: 100%;
}*/
/*.navbar .active {
    top:100%;
}*/
.navbar a{
    position: relative;
    display: inline-flex;
}
